.container-index .fil .event .container-event {
  padding-left: 1.5rem;
}

.container-index .fil .event .container-event .event-name {
  width: 60%;
}

.container-index .fil .event .container-event .event-name a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.container-index .fil .event-date {
  position: absolute;
  top: -0.5rem;
  right: 0;
  font-size: 3.5rem;
  text-align: center;
}

@media (min-width: 992px) {
  .container-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-index .sidebar {
    width: 15rem;
  }
  .container-index .fil {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 2rem;
    overflow: auto;
  }
  .container-index .fil .event {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-index .fil .event .container-event {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    padding-left: 0;
  }
  .container-index .fil .event .container-event .event-name {
    width: 50%;
  }
  .container-index .fil .event .container-event .event-name a {
    position: relative;
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  .container-index .fil .event .container-event .event-name a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 10px;
    margin: 5px 0 0;
    background: linear-gradient(120deg, #5ed663 0%, #02799a 100%);
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  .container-index .fil .event .container-event .event-name a:hover {
    cursor: pointer;
  }
  .container-index .fil .event .container-event .event-name a:hover:before {
    width: 100%;
  }
  .container-index .fil .event-date {
    position: static;
    font-size: 8rem;
    width: 20%;
  }
}
