body {
  margin: 0;
  font-family: "Karla";
}

.publications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.publications a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (min-width: 992px) {
  .publications a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

.publications .publication {
  position: relative;
  margin-bottom: 1rem;
  margin-right: 1.5rem;
}

.publications .publication::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(71, 71, 71, 0)));
  background-image: linear-gradient(0deg, black, rgba(71, 71, 71, 0));
  opacity: .7;
}

.publications .publication .user-name {
  position: absolute;
  z-index: 100;
  bottom: 1rem;
  left: 1rem;
  color: white;
}

@media (min-width: 992px) {
  .publications .publication {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .publications .publication-image {
    width: 100%;
  }
}

.publication-image {
  overflow: hidden;
}

.publication-image img {
  width: 100%;
}

.publication-infos .publication-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0;
  padding: 1rem;
}

.publication-infos .publication-description .user-name {
  padding-left: 4rem;
  position: absolute;
}

.publication-infos .publication-description .user-image {
  width: 3rem;
  height: 3rem;
}

.publication-infos .publication-description p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding-left: 1rem;
  margin-top: 1.5rem;
}

.publication-infos .publication-description .publication-date {
  width: 100%;
  color: #b3b3b3;
  text-align: right;
  font-size: 0.8rem;
}

@media (min-width: 992px) {
  .publication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .publication-image {
    width: 50%;
  }
  .publication-infos {
    width: 50%;
  }
}

.commentaires {
  background-color: #f3f2f2;
}

.commentaires .commentaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  border-bottom: none;
}

.commentaires .commentaire:last-child {
  padding-bottom: 1rem;
}

.commentaires .commentaire .user-image {
  width: 2rem;
  height: 2rem;
}

.commentaires .commentaire-content {
  width: 100%;
  padding-left: 1rem;
  color: #535353;
}

.commentaires .commentaire-content p {
  margin-bottom: 0.2rem;
}

.commentaires .commentaire-date {
  color: #b3b3b3;
  text-align: right;
  font-size: 0.8rem;
}

.user-image {
  width: 5rem;
  height: 5rem;
}

.user .roundImg {
  border-radius: 100%;
  border: none;
  overflow: hidden;
}

.user .roundImg img {
  width: auto;
  height: 100%;
}

.user-name {
  font-weight: 900;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
}

@media (min-width: 992px) {
  h1 {
    font-size: 6rem;
  }
}

#login h2 {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: white;
}

@media (min-width: 992px) {
  #login h2 {
    font-size: 4rem;
  }
}

.sidebar .mois-selection {
  position: relative;
  width: 100%;
  background: linear-gradient(120deg, #5ed663 0%, #02799a 100%);
}

.sidebar .mois-selection ul {
  padding: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  margin-top: 0;
  list-style-type: none;
  overflow: hidden;
}

.sidebar .mois-selection ul li {
  display: block;
  margin-bottom: 0.5rem;
}

.sidebar .mois-selection ul li:last-child {
  margin-bottom: 0;
}

.sidebar .mois-selection ul li:not(.active) {
  display: none;
}

.sidebar .mois-selection ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}

.sidebar .mois-selection #icon {
  top: 2.5rem;
  right: 2rem;
  position: absolute;
  width: 2rem;
  float: right;
  fill: white;
}

@media (min-width: 992px) {
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    background: linear-gradient(120deg, #5ed663 0%, #02799a 100%);
  }
  .sidebar .mois-selection {
    text-align: center;
    background: none;
    width: 13rem;
  }
  .sidebar .mois-selection #icon {
    display: none;
  }
  .sidebar .mois-selection #menu {
    padding: 1rem;
  }
  .sidebar .mois-selection #menu > li:not(.active) {
    display: block;
    opacity: 0.8;
  }
  .sidebar .mois-selection #menu > li > a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 300;
  }
}

.event {
  position: relative;
}

.event-name {
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
}

.event-name:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 10px;
  margin: 5px 0 0;
  background: linear-gradient(120deg, #5ed663 0%, #02799a 100%);
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.event-name:hover {
  cursor: pointer;
}

.event-name:hover:before {
  width: 100%;
}

.event-date {
  width: 10rem;
  background: linear-gradient(120deg, #5ed663 0%, #02799a 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.event-lieu {
  margin-top: 0.5rem;
}

@media (min-width: 992px) {
  .event {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .event-name {
    font-size: 4rem;
  }
  .event-date {
    position: static;
    font-size: 2rem;
    width: 18rem;
  }
  .event-lieu {
    margin-top: 1rem;
    font-size: 2rem;
  }
}

.form-container {
  height: 50vh;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 1.2rem;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.39);
          box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.39);
  font-size: 1rem;
}

@media (min-width: 576px) {
  form input {
    width: 100%;
  }
}

p {
  color: white;
  text-align: center;
}

p a {
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-span {
  position: relative;
  color: white;
  font-weight: bold;
  -webkit-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
  text-decoration: none;
}

.modal-span:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 5px;
  margin: 5px 0 0;
  background-color: white;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.modal-span:hover {
  cursor: pointer;
}

.modal-span:hover:before {
  width: 100%;
}

.modal-content {
  margin: auto;
  display: block;
  max-height: 80vh;
  width: auto;
  -webkit-animation: 0.5s ease-in-out zoomIn,  0.5s ease-in-out fadeIn;
          animation: 0.5s ease-in-out zoomIn,  0.5s ease-in-out fadeIn;
}

@-webkit-keyframes zoomIn {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

@keyframes zoomIn {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content_embed {
  margin: auto;
  display: block;
  -webkit-animation: 0.5s ease-in-out zoomIn,  0.5s ease-in-out fadeIn;
          animation: 0.5s ease-in-out zoomIn,  0.5s ease-in-out fadeIn;
}

@keyframes zoomIn {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal .closeModal {
  position: absolute;
  top: 15px;
  right: 35px;
  padding: 1rem;
  color: #f1f1f1;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 1rem;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.modal .closeModal:hover {
  background: linear-gradient(120deg, #5ed663 0%, #02799a 100%);
  text-decoration: none;
  cursor: pointer;
}

.modal #caption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  color: lightgray;
  padding: 10px 0;
  height: 150px;
}

.actions {
  position: absolute;
  top: 5rem;
  right: 15rem;
}

.actions .icon {
  position: relative;
  display: inline-block;
  background: linear-gradient(120deg, #5ed663 0%, #02799a 100%);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
}

.actions .icon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.actions .icon:hover {
  cursor: pointer;
}

.actions .icon:hover:after {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.actions .icon-img {
  position: absolute;
  width: 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: invert(100%);
          filter: invert(100%);
  z-index: 15;
}

.actions-form {
  display: block;
  width: 30rem;
  color: white;
}

.actions-form input {
  margin-top: 1rem;
}
