@import "../general";

//////////////////////////////////////////////////////////////////////////
//
//
//             STYLE MOIS SCROLL
//
//
//////////////////////////////////////////////////////////////////////////

.sidebar{
    $this : '.sidebar';
    position: relative; 
    display: flex; 
    align-items: center;
    justify-content: center;

    .actions{
        position: static;
        margin-bottom: 2rem;
    
        .icon{
            background: none;
            border: 3px solid white;
            margin-left: 0;
        }

    }
    
    &-description{
        color: white; 
    }

    .logo{
        margin-bottom: 5rem;
        img{
            width: 10rem;
        }
    }

    .mois-selection{
        position: relative;
        width: 100%; 
        background: $gradient-lr;

        ul{
            padding: 2rem;
            padding-top: 2.5rem;
            padding-bottom: 2rem;
            margin-top: 0;
            list-style-type: none;
            overflow: hidden;

            li{
                display: block;
                margin-bottom: 0.5rem;

                &:last-child{
                    margin-bottom: 0;
                }

                &:not(.active){
                    display: none;
                }
                
                a{
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 900;
                }
            }
        }

        #icon{
            top: 2.5rem; 
            right: 2rem;
            position: absolute;
            width: 2rem;
            float: right;
            fill: white;
        }
    }

    @include lg{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        background: $gradient-lr;

        .mois-selection{
            text-align: center;
            background: none;
            width: 13rem;

            #icon{
                display: none;
            }

            #menu{
                padding: 1rem;
            }

            #menu>li{
                &:not(.active){
                    display: block;
                    opacity: 0.8;
                }
            }

            #menu>li>a{
                display: block;
                padding: 1rem;
                color: white;
                text-decoration: none;
                text-transform: lowercase;
                font-weight: 300;
            }
        }
    }
}