//////////////////////////////////////////////////////////////////////////
//
//
//             STYLE TITLES
//
//
//////////////////////////////////////////////////////////////////////////

////////////////// H1 //////////////////

h1{
    font-weight: 900;
    font-size: 3rem;
    
    @include lg{
        font-size: 6rem;
    }
}

h2{
    #login &{
        font-size: 2rem;
        width: 100%;
        text-align: center;
        color: white; 

        @include lg{
            font-size: 4rem;
        }
    }
}