//////////////////////////////////////////////////////////////////////////
//
//
//             STYLE TITLES
//
//
//////////////////////////////////////////////////////////////////////////

////////////////// H1 //////////////////

h1{
    font-weight: 900;
    font-size: 3rem;
    
    @include lg{
        font-size: 6rem;
    }
}

h2{
    #login &{
        font-size: 2rem;
        width: 100%;
        text-align: center;
        color: white; 
        // width: 15rem;
        // background: $gradient(120deg, rgba(255,0,76,1) 0%, rgba(255,134,0,1) 50%, rgba(255,250,0,1) 100%);
        // background-clip: text;
        // -webkit-text-fill-color: transparent;

        @include lg{
            font-size: 4rem;
        }
    }
}