//////////////////////////////////////////////////////////////////////////
//
//
//             STYLE TITLES
//
//
//////////////////////////////////////////////////////////////////////////

////////////////// H1 //////////////////

h1{
    font-weight: 900;
    font-size: 3rem;
    
    @include lg{
        font-size: 6rem;
    }
}